@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* shared styles starts here */
.flex-row {
  display: flex;
  justify-content: center;
}
.flex-row-space-between {
  display: flex;
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-column-space-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text-style-lg {
  color: black;
  font-family: "Quicksand";
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0%;
  text-align: left;
}
.text-style-md {
  color: rgb(255, 255, 255);
  font-family: "Quicksand";
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.875rem;
  letter-spacing: 0%;
  text-align: center;
}
.text-style-sm {
  color: rgb(17, 17, 17);
  font-family: "Quicksand";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0%;
  text-align: left;
}
.button {
  width: 197px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  text-align: center;
}
/* shared styles ends here */

/* nav-bar section styles starts here */
.nav-bar {
  max-width: 1160px;
  height: 102px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: white;
  align-items: center;
}
.nav-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.nav-logo {
  max-width: 4rem;
  height: 4rem;
}
.nav-text {
  color: rgb(17, 17, 17);
  font-family: "Quicksand";
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0%;
  text-align: left;
}
.nav-links {
  align-items: center;
  gap: 2rem;
}
.nav-links li:hover {
  font-weight: 600;
  transform: scale(1.2);
}

#home {
  color: rgb(254, 163, 1);
}
#about {
  color: rgb(1, 172, 253);
}
#facilities {
  color: rgb(5, 212, 223);
}
#admission {
  color: rgb(93, 88, 239);
}

.nav-links > li > a {
  text-decoration: none;
}

#nav-btn {
  background: rgb(254, 163, 1);
}

#nav-btn:hover {
  background-color: rgb(5, 212, 223);
  cursor: pointer;
}

/* nav-bar section styles ends here */

/* banner section styles starts here */
header {
  max-width: 1160px;
  height: 560px;
  margin: 0 auto;
  border-radius: 1.5rem;
  gap: 3.125rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .banner-container{
    display: flex;
    flex-direction: column;
    gap: 
} */
.banner-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#banner-btn {
  background: black;
}

#banner-btn:hover {
  background-color: rgb(1, 172, 253);
  cursor: pointer;
}

#empowring {
  color: rgb(1, 172, 253);
}
#vision {
  color: rgb(254, 163, 1);
}

/* banner section styles ends here */
