@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* shared styles starts here */
.flex-row {
  display: flex;
  justify-content: center;
}
.flex-row-space-between {
  display: flex;
  justify-content: space-between;
}
.text-style-lg {
  color: black;
  font-family: "Quicksand";
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: 0%;
  text-align: left;
}
.text-style-md {
  color: rgb(255, 255, 255);
  font-family: "Quicksand";
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.875rem;
  letter-spacing: 0%;
  text-align: center;
}
.text-style-sm {
  color: rgb(17, 17, 17);
  font-family: "Quicksand";
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0%;
  text-align: left;
}
.button {
  width: 197px;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 12px;
  text-align: center;
}
/* shared styles ends here */

/* nav-bar section styles starts here */
.nav-bar {
  max-width: 1160px;
  margin: 0 auto;
  padding: 20px 0;
  background-color: white;
  align-items: center;
}
.nav-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
}
.nav-logo {
  max-width: 4rem;
  height: 4rem;
}
.nav-text {
  color: rgb(17, 17, 17);
  font-family: "Quicksand";
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0%;
  text-align: left;
}
.nav-links {
  align-items: center;
  gap: 2rem;
}
.nav-links li:hover {
  font-weight: 600;
  transform: scale(1.2);
}
#home {
  color: rgb(254, 163, 1);
}
#about {
  color: rgb(1, 172, 253);
}
#facilities {
  color: rgb(5, 212, 223);
}
#admission {
  color: rgb(93, 88, 239);
}
.nav-links > li > a {
  text-decoration: none;
}
#nav-btn {
  background: rgb(254, 163, 1);
}
#nav-ham-btn {
  display: none;
}
#nav-btn:hover {
  background-color: rgb(5, 212, 223);
  cursor: pointer;
}
hr {
  display: none;
  border: 0.5px solid rgb(254, 163, 1);
}
/* nav-bar section styles ends here */

/* banner section styles starts here */
header {
  max-width: 1160px;
  margin: 0 auto;
  border-radius: 1.5rem;
  gap: 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#banner-btn {
  background: black;
}
#banner-btn:hover {
  background-color: rgb(1, 172, 253);
  cursor: pointer;
}
#empowring {
  color: rgb(254, 163, 1);
}
#vision {
  color: rgb(1, 172, 253);
}
/* banner section styles ends here */

/* curriculam section stylus starts here */
.curriculam-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  background-image: url("./assets/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}
.curriculam-title {
  color: rgb(0, 0, 0);
  font-family: "Quicksand";
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.65rem;
  letter-spacing: 0%;
  text-align: center;
}
.curriculam-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.curriculam-card {
  max-width: 367.8px;
  height: 476.78px;
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  text-align: center;
}
.curriculam-card > img {
  max-width: 136.76px;
  height: 136.76px;
}
#card-1 {
  border: 0.94px solid rgb(222, 245, 255);
  background: linear-gradient(180deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}
#card-2 {
  border: 0.94px solid rgb(255, 244, 220);
  background: linear-gradient(180deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}
#card-3 {
  border: 0.94px solid rgb(242, 232, 255);
  background: linear-gradient(180deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}
.card-title {
  color: rgb(0, 0, 0);
  font-family: "Quicksand";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0%;
  text-align: center;
}
.card-description {
  color: rgb(128, 128, 128);
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.75rem;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 20px;
}
.curriculam-card > button {
  font-family: "Quicksand";
  font-size: 15.09px;
  font-weight: 700;
  line-height: 28.3px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  background: transparent;
}
.curriculam-card > button:hover {
  font-weight: 700;
  transform: scale(1.2);
  cursor: pointer;
}
#card-btn-1 {
  color: rgb(100, 200, 255);
}
#card-btn-2 {
  color: rgb(240, 170, 0);
}
#card-btn-3 {
  color: rgb(135, 0, 255);
}
.arrow-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 24px;
}
.arrow {
  width: 55px;
  height: 55px;
  background-color: rgb(254, 163, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.arrow:hover {
  background-color: rgb(5, 212, 223);
  cursor: pointer;
}
.arrow::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: solid white;
  border-width: 2px 2px 0 0;
  position: absolute;
}
.left-arrow::before {
  transform: rotate(-135deg);
}
.right-arrow::before {
  transform: rotate(45deg);
}
/* curriculam section stylus ends here */

/* stories section styles starts here */
.stories-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  background: url("./assets/bg.png"), linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
  background-position: center;
  background-repeat: no-repeat;
}
.stories-title {
  color: rgb(0, 0, 0);
  font-family: "Quicksand";
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  letter-spacing: 0%;
  text-align: center;
}
.stories-content {
  margin: 0 140px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1.25rem;
}
.story {
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}
.story img {
  max-width: 100%;
}
.story h3 {
  max-width: 198.04px;
  margin-top: 28px;
  margin-left: 38px;
  color: rgb(0, 0, 0);
  font-family: "Quicksand";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0%;
  text-align: left;
}
#story-1-text {
  max-width: 402.495px;
  margin-top: 36px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.375rem;
}
.story p {
  margin: 41px 68px 34px 38px;
  color: rgb(102, 102, 102);
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0%;
  text-align: left;
}
.story .date {
  position: absolute;
  top: 15px;
  background-color: #59ce8f;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
}
#date-1 {
  border-radius: 48px;
  background: rgb(60, 216, 232);
  margin-top: 310px;
  margin-left: 38px;
  text-align: center;
}
#date-2,
#date-3,
#date-4,
#date-5 {
  border-radius: 48px;
  background: rgb(149, 178, 38);
  margin-top: 148px;
  margin-left: 38px;
  text-align: center;
}
#date-3 {
  background: rgb(93, 88, 240);
}
#date-4 {
  background: rgb(135, 0, 255);
}
#date-5 {
  background: rgb(254, 163, 1);
}
.story-1 {
  max-width: 540.27px;
  height: 630.52px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.story-2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.story-3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
.story-4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.story-5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
/* stories section styles ends here */

/* footer section styles starts here */
footer {
  border: 1px solid red;
  max-width: 100%;
  height: 520px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(1, 172, 253);
  gap: 5rem;
}
.footer-left-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer-left-content > div > img {
  width: 82.9px;
  height: 81.65px;
  background: white;
}

.footer-left-content > div > span {
  color: white;
}
/* footer section styles ends here */

/* responsive style*/
@media screen and (max-width: 576px) {
  /* nav-bar section */
  nav {
    max-width: 90%;
    padding: 12px 16px;
    justify-content: space-between;
  }
  .nav-text {
    display: none;
  }
  .nav-links {
    display: none;
  }
  #nav-btn {
    display: none;
  }
  #nav-ham-btn {
    max-width: 100%;
    display: block;
    color: white;
    font-size: 2rem;
    cursor: pointer;
  }
  hr {
    display: block;
  }
  /* banner section */
  header {
    width: 100%;
    padding: 20px 5px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
  }
  .banner-content {
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .banner-content > h2,
  .banner-content > p {
    text-align: center;
  }
  #banner-btn {
    text-align: center;
  }
  /* curriculum section */
  .curriculam-container {
    margin: 0 20px;
  }
  .curriculam-title {
    display: flex;
  }
  .curriculam-content {
    max-width: 100%;
    flex-direction: column;
    gap: 2rem;
  }
  .arrow-buttons {
    display: none;
  }
  /* stories section */
  .stories-content {
    margin: 0 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
  }
  .story-1 {
    display: none;
  }
  .story-2 {
    grid-column: 1 / 2;
    grid-row: auto;
  }

  .story-3 {
    grid-column: 2 / 3;
    grid-row: auto;
  }

  .story-4 {
    grid-column: 1 / 2;
    grid-row: auto;
  }

  .story-5 {
    grid-column: 2 / 3;
    grid-row: auto;
  }
  #date-2,
  #date-3,
  #date-4,
  #date-5 {
    border-radius: 48px;
    margin-top: 132px;
    margin-left: 12px;
    text-align: center;
  }
  .story h3 {
    max-width: 180px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 12px;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1rem;
    letter-spacing: 0%;
    text-align: left;
  }
}
